.container1 {
  background: rgba( 219, 219, 219, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
th,h1{
  color: white;
  font-family: Segoe Print;
  text-align:center;
}
label {
  color: white;
  font-family: Segoe Print;
}
 td {
  font-family: Segoe Print;
}

.center_div {
  margin: 0 auto;
  width: 70% /* value of your choice which suits your alignment */
}
